# Project 1

## Group One: Covid 19 | Part One: Data Cleansing

Team Members: Michael Bien, Lupita Lopez, Jinah Porter, Debra Wu

### Research Questions to Answer:

1. WORLD: Compare COVID deaths by GDP by Country: Does a higher GDP result in a lower number of COVID deaths?

2. US: Examine death rates by age group and determine is children under 10 die at a lower rate, adults 60+ at a higher rate

3. US: Compare cases/deaths by state

4. US: Does pre-COVID state GDP related to the cases/deaths in a given state

5. March shutdown, 4th of July and Memorial Day: compare 2 months of shutdown vs. reopening: how did reopening affect case and death rates? 

6. US: Is there a relationship between COVID cases/deaths and gender?

7. US: Is there a relationship between COVID cases/deaths and ethnicity?

In [1]:
#Import necessary libraries
import pandas as pd
import os
import requests
import numpy as np
import requests
from pprint import pprint
import json

Import World Bank data by Country; source: https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.CD&country=#

In [2]:
# Import world_bank_data.csv
file_path = os.path.join("..","source_data","world_bank_data.csv")
world_bank_df = pd.read_csv(file_path)
print(world_bank_df.shape)
world_bank_df.head()

(264, 3)

     Country Name Country Code 2018 [YR2018]
0     Afghanistan          AFG   19484384937
1         Albania          ALB   15147020535
2         Algeria          DZA      1.74E+11
3  American Samoa          ASM     636000000
4         Andorra          AND    3218316013

Johns Hopkins Country Data with iso: https://documenter.getpostman.com/view/10724784/SzYXWz3x?version=latest

In [3]:
# Grab Johns Hopkins country list with 3 character country code
JH_countries = requests.get("https://covid-api.com/api/regions").json()
JH_countries_list_df = pd.DataFrame(JH_countries["data"])
JH_countries_list_df = JH_countries_list_df[["name","iso"]]
JH_countries_list_df = JH_countries_list_df.sort_values(by='name', ascending=True)

In [4]:
# create empty columns for deaths, confirmed, recovered
JH_countries_list_df["JH Deaths"] = ""
JH_countries_list_df["JH Confirmed"] = ""
JH_countries_list_df["JH Recovered"] = ""
# create empty list to gather country lookuop errors
JH_country_no_data = []

# John Hopkins base url
base_url = "https://covid19-stats-api.herokuapp.com/api/v1/cases?country="
for index,row in JH_countries_list_df.iterrows():
    country_lookup = row["name"]
    request_url = base_url + country_lookup
    response = requests.get(request_url).json()
    try:
        confirm_JH = response["confirmed"]
        row["JH Confirmed"] = confirm_JH
        death_JH = response["deaths"]
        row["JH Deaths"] = death_JH
        recovered_JH = response["recovered"]
        row["JH Recovered"] = recovered_JH
        print(f"Processing country | {country_lookup} | {response}")
        
    except KeyError:
        print(f"<<Data not found for {country_lookup}")
        JH_country_no_data.append(country_lookup)
        pass

Processing country | Afghanistan | {'confirmed': 38815, 'deaths': 1426, 'recovered': 32098}
Processing country | Albania | {'confirmed': 11672, 'deaths': 340, 'recovered': 6668}
Processing country | Algeria | {'confirmed': 48734, 'deaths': 1632, 'recovered': 34385}
Processing country | Andorra | {'confirmed': 1438, 'deaths': 53, 'recovered': 945}
Processing country | Angola | {'confirmed': 3569, 'deaths': 139, 'recovered': 1332}
Processing country | Antigua and Barbuda | {'confirmed': 95, 'deaths': 3, 'recovered': 91}
Processing country | Argentina | {'confirmed': 577338, 'deaths': 11852, 'recovered': 438883}
Processing country | Armenia | {'confirmed': 46119, 'deaths': 920, 'recovered': 41941}
<<Data not found for Aruba
Processing country | Australia | {'confirmed': 26778, 'deaths': 824, 'recovered': 23650}
Processing country | Austria | {'confirmed': 34305, 'deaths': 757, 'recovered': 27354}
Processing country | Azerbaijan | {'confirmed': 38517, 'deaths': 566, 'recovered': 35998}
Processing country | Bahamas | {'confirmed': 3032, 'deaths': 69, 'recovered': 1482}
Processing country | Bahrain | {'confirmed': 61643, 'deaths': 213, 'recovered': 54831}
Processing country | Bangladesh | {'confirmed': 341056, 'deaths': 4802, 'recovered': 245594}
Processing country | Barbados | {'confirmed': 184, 'deaths': 7, 'recovered': 169}
Processing country | Belarus | {'confirmed': 74552, 'deaths': 761, 'recovered': 72661}
Processing country | Belgium | {'confirmed': 94795, 'deaths': 9930, 'recovered': 18789}
Processing country | Belize | {'confirmed': 1541, 'deaths': 21, 'recovered': 663}
Processing country | Benin | {'confirmed': 2267, 'deaths': 40, 'recovered': 1942}
Processing country | Bhutan | {'confirmed': 246, 'deaths': 0, 'recovered': 175}
Processing country | Bolivia | {'confirmed': 128286, 'deaths': 7447, 'recovered': 86216}
Processing country | Bosnia and Herzegovina | {'confirmed': 23929, 'deaths': 725, 'recovered': 16701}
Processing country | Botswana | {'confirmed': 2463, 'deaths': 11, 'recovered': 575}
Processing country | Brazil | {'confirmed': 4654148, 'deaths': 151102, 'recovered': 4195448}
Processing country | Brunei | {'confirmed': 145, 'deaths': 3, 'recovered': 139}
Processing country | Bulgaria | {'confirmed': 18216, 'deaths': 736, 'recovered': 13057}
Processing country | Burkina Faso | {'confirmed': 1733, 'deaths': 56, 'recovered': 1141}
Processing country | Burma | {'confirmed': 3636, 'deaths': 39, 'recovered': 832}
Processing country | Burundi | {'confirmed': 472, 'deaths': 1, 'recovered': 374}
Processing country | Cabo Verde | {'confirmed': 4904, 'deaths': 46, 'recovered': 4294}
Processing country | Cambodia | {'confirmed': 275, 'deaths': 0, 'recovered': 274}
Processing country | Cameroon | {'confirmed': 20271, 'deaths': 415, 'recovered': 18837}
Processing country | Canada | {'confirmed': 140918, 'deaths': 9239, 'recovered': 158959}
<<Data not found for Cayman Islands
Processing country | Central African Republic | {'confirmed': 4772, 'deaths': 62, 'recovered': 1828}
Processing country | Chad | {'confirmed': 1087, 'deaths': 81, 'recovered': 944}
<<Data not found for Channel Islands
Processing country | Chile | {'confirmed': 487562, 'deaths': 12549, 'recovered': 431451}
Processing country | China | {'confirmed': 90235, 'deaths': 4736, 'recovered': 85129}
Processing country | Colombia | {'confirmed': 752694, 'deaths': 24091, 'recovered': 614089}
Processing country | Comoros | {'confirmed': 467, 'deaths': 7, 'recovered': 446}
Processing country | Congo (Brazzaville) | {'confirmed': 4934, 'deaths': 88, 'recovered': 3887}
Processing country | Congo (Kinshasa) | {'confirmed': 10401, 'deaths': 267, 'recovered': 9817}
Processing country | Costa Rica | {'confirmed': 58137, 'deaths': 633, 'recovered': 21536}
Processing country | Cote d'Ivoire | {'confirmed': 19100, 'deaths': 120, 'recovered': 18228}
Processing country | Croatia | {'confirmed': 13749, 'deaths': 230, 'recovered': 11412}
<<Data not found for Cruise Ship
Processing country | Cuba | {'confirmed': 4803, 'deaths': 108, 'recovered': 4119}
<<Data not found for Curacao
Processing country | Cyprus | {'confirmed': 1540, 'deaths': 22, 'recovered': 1282}
Processing country | Czechia | {'confirmed': 38896, 'deaths': 476, 'recovered': 22613}
Processing country | Denmark | {'confirmed': 21013, 'deaths': 633, 'recovered': 16983}
Processing country | Diamond Princess | {'confirmed': 712, 'deaths': 13, 'recovered': 651}
Processing country | Djibouti | {'confirmed': 5396, 'deaths': 61, 'recovered': 5331}
Processing country | Dominica | {'confirmed': 24, 'deaths': 0, 'recovered': 18}
Processing country | Dominican Republic | {'confirmed': 104803, 'deaths': 1998, 'recovered': 78387}
Processing country | Ecuador | {'confirmed': 119553, 'deaths': 10963, 'recovered': 97063}
Processing country | Egypt | {'confirmed': 101340, 'deaths': 5679, 'recovered': 85745}
Processing country | El Salvador | {'confirmed': 27088, 'deaths': 792, 'recovered': 19450}
Processing country | Equatorial Guinea | {'confirmed': 5000, 'deaths': 83, 'recovered': 4496}
Processing country | Eritrea | {'confirmed': 364, 'deaths': 0, 'recovered': 304}
Processing country | Estonia | {'confirmed': 2722, 'deaths': 64, 'recovered': 2286}
Processing country | Eswatini | {'confirmed': 5128, 'deaths': 101, 'recovered': 4401}
Processing country | Ethiopia | {'confirmed': 65486, 'deaths': 1035, 'recovered': 25988}
<<Data not found for Faroe Islands
Processing country | Fiji | {'confirmed': 32, 'deaths': 2, 'recovered': 24}
Processing country | Finland | {'confirmed': 8725, 'deaths': 339, 'recovered': 7500}
Processing country | France | {'confirmed': 563559, 'deaths': 44839, 'recovered': 117207}
<<Data not found for French Guiana
Processing country | Gabon | {'confirmed': 8654, 'deaths': 53, 'recovered': 7785}
Processing country | Gambia | {'confirmed': 3428, 'deaths': 105, 'recovered': 1737}
Processing country | Georgia | {'confirmed': 2562, 'deaths': 19, 'recovered': 1369}
Processing country | Germany | {'confirmed': 439112, 'deaths': 17228, 'recovered': 383812}
Processing country | Ghana | {'confirmed': 45655, 'deaths': 294, 'recovered': 44797}
<<Data not found for Gibraltar
Processing country | Greece | {'confirmed': 13730, 'deaths': 313, 'recovered': 1347}
<<Data not found for Greenland
Processing country | Grenada | {'confirmed': 24, 'deaths': 0, 'recovered': 24}
<<Data not found for Guadeloupe
<<Data not found for Guam
Processing country | Guatemala | {'confirmed': 82684, 'deaths': 2984, 'recovered': 71983}
<<Data not found for Guernsey
Processing country | Guinea | {'confirmed': 10111, 'deaths': 63, 'recovered': 9444}
Processing country | Guinea-Bissau | {'confirmed': 2275, 'deaths': 39, 'recovered': 1127}
Processing country | Guyana | {'confirmed': 1958, 'deaths': 58, 'recovered': 1302}
Processing country | Haiti | {'confirmed': 8530, 'deaths': 220, 'recovered': 6181}
Processing country | Holy See | {'confirmed': 12, 'deaths': 0, 'recovered': 12}
Processing country | Honduras | {'confirmed': 68620, 'deaths': 2087, 'recovered': 18487}
Processing country | Hungary | {'confirmed': 13879, 'deaths': 646, 'recovered': 4130}
Processing country | Iceland | {'confirmed': 2174, 'deaths': 10, 'recovered': 2102}
Processing country | India | {'confirmed': 5286309, 'deaths': 89539, 'recovered': 4071457}
Processing country | Indonesia | {'confirmed': 225030, 'deaths': 8965, 'recovered': 161065}
Processing country | Iran | {'confirmed': 407353, 'deaths': 23453, 'recovered': 349984}
Processing country | Iraq | {'confirmed': 298702, 'deaths': 8166, 'recovered': 233346}
Processing country | Ireland | {'confirmed': 31549, 'deaths': 1787, 'recovered': 23364}
Processing country | Israel | {'confirmed': 164402, 'deaths': 1147, 'recovered': 120727}
Processing country | Italy | {'confirmed': 512094, 'deaths': 66739, 'recovered': 327186}
Processing country | Jamaica | {'confirmed': 4042, 'deaths': 46, 'recovered': 1163}
Processing country | Japan | {'confirmed': 93097, 'deaths': 2321, 'recovered': 80874}
<<Data not found for Jersey
Processing country | Jordan | {'confirmed': 3677, 'deaths': 26, 'recovered': 2311}
Processing country | Kazakhstan | {'confirmed': 106984, 'deaths': 1671, 'recovered': 101267}
Processing country | Kenya | {'confirmed': 36301, 'deaths': 634, 'recovered': 23364}
Processing country | Korea, South | {'confirmed': 22504, 'deaths': 367, 'recovered': 19310}
Processing country | Kosovo | {'confirmed': 12683, 'deaths': 488, 'recovered': 8788}
Processing country | Kuwait | {'confirmed': 96301, 'deaths': 568, 'recovered': 86219}
Processing country | Kyrgyzstan | {'confirmed': 44999, 'deaths': 1063, 'recovered': 41103}
Processing country | Laos | {'confirmed': 23, 'deaths': 0, 'recovered': 22}
Processing country | Latvia | {'confirmed': 1482, 'deaths': 35, 'recovered': 1248}
Processing country | Lebanon | {'confirmed': 25449, 'deaths': 252, 'recovered': 9216}
Processing country | Lesotho | {'confirmed': 1327, 'deaths': 33, 'recovered': 687}
Processing country | Liberia | {'confirmed': 1327, 'deaths': 82, 'recovered': 1214}
Processing country | Libya | {'confirmed': 24144, 'deaths': 383, 'recovered': 13252}
Processing country | Liechtenstein | {'confirmed': 111, 'deaths': 1, 'recovered': 105}
Processing country | Lithuania | {'confirmed': 3397, 'deaths': 87, 'recovered': 2094}
Processing country | Luxembourg | {'confirmed': 7284, 'deaths': 124, 'recovered': 6561}
Processing country | MS Zaandam | {'confirmed': 18, 'deaths': 4, 'recovered': 0}
<<Data not found for Macao SAR
Processing country | Madagascar | {'confirmed': 15803, 'deaths': 214, 'recovered': 14452}
Processing country | Malawi | {'confirmed': 5701, 'deaths': 178, 'recovered': 3762}
Processing country | Malaysia | {'confirmed': 9969, 'deaths': 128, 'recovered': 9209}
Processing country | Maldives | {'confirmed': 9328, 'deaths': 33, 'recovered': 7729}
Processing country | Mali | {'confirmed': 2940, 'deaths': 128, 'recovered': 2302}
Processing country | Malta | {'confirmed': 2454, 'deaths': 16, 'recovered': 1931}
<<Data not found for Martinique
Processing country | Mauritania | {'confirmed': 7326, 'deaths': 162, 'recovered': 6841}
Processing country | Mauritius | {'confirmed': 365, 'deaths': 10, 'recovered': 338}
<<Data not found for Mayotte
Processing country | Mexico | {'confirmed': 730833, 'deaths': 77344, 'recovered': 606871}
Processing country | Moldova | {'confirmed': 43734, 'deaths': 1143, 'recovered': 32293}
Processing country | Monaco | {'confirmed': 178, 'deaths': 1, 'recovered': 133}
Processing country | Mongolia | {'confirmed': 311, 'deaths': 0, 'recovered': 301}
Processing country | Montenegro | {'confirmed': 7061, 'deaths': 123, 'recovered': 4692}
Processing country | Morocco | {'confirmed': 90324, 'deaths': 1648, 'recovered': 71047}
Processing country | Mozambique | {'confirmed': 5713, 'deaths': 37, 'recovered': 3181}
Processing country | Namibia | {'confirmed': 9901, 'deaths': 106, 'recovered': 7358}
Processing country | Nepal | {'confirmed': 56788, 'deaths': 371, 'recovered': 40638}
Processing country | Netherlands | {'confirmed': 140024, 'deaths': 12437, 'recovered': 2146}
Processing country | New Zealand | {'confirmed': 1802, 'deaths': 25, 'recovered': 1698}
Processing country | Nicaragua | {'confirmed': 4961, 'deaths': 147, 'recovered': 2913}
Processing country | Niger | {'confirmed': 1182, 'deaths': 69, 'recovered': 1104}
Processing country | Nigeria | {'confirmed': 56478, 'deaths': 1088, 'recovered': 44430}
Processing country | North Macedonia | {'confirmed': 15925, 'deaths': 661, 'recovered': 13418}
Processing country | Norway | {'confirmed': 12393, 'deaths': 265, 'recovered': 10371}
Processing country | Oman | {'confirmed': 90660, 'deaths': 797, 'recovered': 84113}
<<Data not found for Others
Processing country | Pakistan | {'confirmed': 411406, 'deaths': 8565, 'recovered': 325778}
Processing country | Panama | {'confirmed': 102832, 'deaths': 2187, 'recovered': 75592}
Processing country | Papua New Guinea | {'confirmed': 511, 'deaths': 6, 'recovered': 232}
Processing country | Paraguay | {'confirmed': 29298, 'deaths': 552, 'recovered': 15261}
Processing country | Peru | {'confirmed': 869765, 'deaths': 34795, 'recovered': 629533}
Processing country | Philippines | {'confirmed': 269407, 'deaths': 4663, 'recovered': 207352}
Processing country | Poland | {'confirmed': 75134, 'deaths': 2227, 'recovered': 61548}
Processing country | Portugal | {'confirmed': 65021, 'deaths': 1875, 'recovered': 44362}
<<Data not found for Puerto Rico
Processing country | Qatar | {'confirmed': 122214, 'deaths': 208, 'recovered': 119144}
<<Data not found for Reunion
Processing country | Romania | {'confirmed': 105298, 'deaths': 4236, 'recovered': 43244}
Processing country | Russia | {'confirmed': 1475716, 'deaths': 23416, 'recovered': 1053576}
Processing country | Rwanda | {'confirmed': 4624, 'deaths': 22, 'recovered': 2767}
<<Data not found for Saint Barthelemy
Processing country | Saint Kitts and Nevis | {'confirmed': 17, 'deaths': 0, 'recovered': 17}
Processing country | Saint Lucia | {'confirmed': 27, 'deaths': 0, 'recovered': 26}
<<Data not found for Saint Martin
Processing country | Saint Vincent and the Grenadines | {'confirmed': 64, 'deaths': 0, 'recovered': 62}
Processing country | San Marino | {'confirmed': 723, 'deaths': 42, 'recovered': 663}
Processing country | Sao Tome and Principe | {'confirmed': 907, 'deaths': 15, 'recovered': 871}
Processing country | Saudi Arabia | {'confirmed': 326930, 'deaths': 4338, 'recovered': 305022}
Processing country | Senegal | {'confirmed': 14529, 'deaths': 298, 'recovered': 10692}
Processing country | Serbia | {'confirmed': 32511, 'deaths': 735, 'recovered': 0}
Processing country | Seychelles | {'confirmed': 140, 'deaths': 0, 'recovered': 136}
Processing country | Sierra Leone | {'confirmed': 2126, 'deaths': 72, 'recovered': 1640}
Processing country | Singapore | {'confirmed': 57488, 'deaths': 27, 'recovered': 56884}
Processing country | Slovakia | {'confirmed': 5768, 'deaths': 38, 'recovered': 3214}
Processing country | Slovenia | {'confirmed': 3831, 'deaths': 135, 'recovered': 2789}
Processing country | Somalia | {'confirmed': 3390, 'deaths': 98, 'recovered': 2812}
Processing country | South Africa | {'confirmed': 651521, 'deaths': 15641, 'recovered': 583126}
Processing country | South Sudan | {'confirmed': 2592, 'deaths': 49, 'recovered': 1290}
Processing country | Spain | {'confirmed': 831858, 'deaths': 57108, 'recovered': 291199}
Processing country | Sri Lanka | {'confirmed': 3271, 'deaths': 13, 'recovered': 3016}
Processing country | Sudan | {'confirmed': 13535, 'deaths': 836, 'recovered': 6759}
Processing country | Suriname | {'confirmed': 4625, 'deaths': 95, 'recovered': 3996}
Processing country | Sweden | {'confirmed': 129228, 'deaths': 10413, 'recovered': 0}
Processing country | Switzerland | {'confirmed': 47751, 'deaths': 2028, 'recovered': 39900}
Processing country | Syria | {'confirmed': 3614, 'deaths': 160, 'recovered': 871}
<<Data not found for Taipei and environs
Processing country | Taiwan* | {'confirmed': 499, 'deaths': 7, 'recovered': 476}
Processing country | Tajikistan | {'confirmed': 9129, 'deaths': 73, 'recovered': 7896}
Processing country | Tanzania | {'confirmed': 509, 'deaths': 21, 'recovered': 183}
Processing country | Thailand | {'confirmed': 3490, 'deaths': 58, 'recovered': 3316}
Processing country | Timor-Leste | {'confirmed': 27, 'deaths': 0, 'recovered': 26}
Processing country | Togo | {'confirmed': 1595, 'deaths': 40, 'recovered': 1219}
Processing country | Trinidad and Tobago | {'confirmed': 3223, 'deaths': 56, 'recovered': 798}
Processing country | Tunisia | {'confirmed': 7623, 'deaths': 123, 'recovered': 2262}
Processing country | Turkey | {'confirmed': 294620, 'deaths': 7186, 'recovered': 261260}
Processing country | US | {'confirmed': 6894420, 'deaths': 221546, 'recovered': 2495127}
Processing country | Uganda | {'confirmed': 5123, 'deaths': 58, 'recovered': 2333}
Processing country | Ukraine | {'confirmed': 187350, 'deaths': 4034, 'recovered': 82960}
Processing country | United Arab Emirates | {'confirmed': 80940, 'deaths': 401, 'recovered': 70635}
Processing country | United Kingdom | {'confirmed': 666813, 'deaths': 82881, 'recovered': 2184}
Processing country | Uruguay | {'confirmed': 1827, 'deaths': 45, 'recovered': 1545}
Processing country | Uzbekistan | {'confirmed': 48429, 'deaths': 402, 'recovered': 44942}
Processing country | Venezuela | {'confirmed': 62655, 'deaths': 502, 'recovered': 50361}
Processing country | Vietnam | {'confirmed': 1063, 'deaths': 35, 'recovered': 931}
Processing country | West Bank and Gaza | {'confirmed': 32250, 'deaths': 229, 'recovered': 21804}
Processing country | Western Sahara | {'confirmed': 14, 'deaths': 1, 'recovered': 8}
Processing country | Yemen | {'confirmed': 2016, 'deaths': 583, 'recovered': 1219}
Processing country | Zambia | {'confirmed': 13819, 'deaths': 324, 'recovered': 12590}
Processing country | Zimbabwe | {'confirmed': 7576, 'deaths': 224, 'recovered': 5783}

In [5]:
print(JH_country_no_data)

['Aruba', 'Cayman Islands', 'Channel Islands', 'Cruise Ship', 'Curacao', 'Faroe Islands', 'French Guiana', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'Others', 'Puerto Rico', 'Reunion', 'Saint Barthelemy', 'Saint Martin', 'Taipei and environs']

In [6]:
#filter dataframe to find rows with blank JH Deaths
JH_no_data_df = JH_countries_list_df[JH_countries_list_df["JH Deaths"] == ""]
JH_no_data_df

                    name      iso JH Deaths JH Confirmed JH Recovered
132                Aruba      ABW
126       Cayman Islands      CYM
112      Channel Islands  GGY-JEY
115          Cruise Ship   cruise
141              Curacao      CUW
81         Faroe Islands      FRO
98         French Guiana      GUF
82             Gibraltar      GIB
159            Greenland      GRL
127           Guadeloupe      GLP
156                 Guam      GUM
145             Guernsey      GGY
136               Jersey      JEY
109            Macao SAR      MAC
100           Martinique      MTQ
161              Mayotte      MYT
30                Others   Others
157          Puerto Rico      PRI
121              Reunion      REU
79      Saint Barthelemy      BLM
110         Saint Martin      MAF
1    Taipei and environs      TWN

In [7]:
# merge World Bank and Johns Hopkins dataframes on iso
#rename columns for merge
JH_countries_list_df.rename(columns={"iso":"Country Code"}, inplace=True)
WB_JH_merge_df = pd.merge(world_bank_df,JH_countries_list_df,on="Country Code",how="outer")
# examine blank country names
cities_not_on_WB = WB_JH_merge_df[WB_JH_merge_df["Country Name"].isnull()]
cities_not_on_JH = WB_JH_merge_df[WB_JH_merge_df["name"].isnull()]
cities_not_on_JH

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered
3,American Samoa,ASM,636000000,NaN,NaN,NaN,NaN
21,Bermuda,BMU,..,NaN,NaN,NaN,NaN
27,British Virgin Islands,VGB,..,NaN,NaN,NaN,NaN
39,Channel Islands,CHI,..,NaN,NaN,NaN,NaN
69,French Polynesia,PYF,..,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
259,Sub-Saharan Africa,SSF,1.71E+12,NaN,NaN,NaN,NaN
260,Sub-Saharan Africa (excluding high income),SSA,1.70E+12,NaN,NaN,NaN,NaN
261,Sub-Saharan Africa (IDA & IBRD countries),TSS,1.71E+12,NaN,NaN,NaN,NaN
262,Upper middle income,UMC,2.53E+13,NaN,NaN,NaN,NaN
263,World,WLD,8.64E+13,NaN,NaN,NaN,NaN

In [8]:
cities_not_on_WB

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered
264,NaN,GGY-JEY,NaN,Channel Islands,,,
265,NaN,cruise,NaN,Cruise Ship,,,
266,NaN,NA-SHIP-DP,NaN,Diamond Princess,13,712,651
267,NaN,GUF,NaN,French Guiana,,,
268,NaN,GLP,NaN,Guadeloupe,,,
269,NaN,GGY,NaN,Guernsey,,,
270,NaN,VAT,NaN,Holy See,0,12,12
271,NaN,JEY,NaN,Jersey,,,
272,NaN,RKS,NaN,Kosovo,488,12683,8788
273,NaN,NA-SHIP-MSZ,NaN,MS Zaandam,4,18,0
274,NaN,MTQ,NaN,Martinique,,,
275,NaN,MYT,NaN,Mayotte,,,
276,NaN,Others,NaN,Others,,,
277,NaN,REU,NaN,Reunion,,,
278,NaN,BLM,NaN,Saint Barthelemy,,,
279,NaN,TWN,NaN,Taipei and environs,,,
280,NaN,TWN,NaN,Taiwan*,7,499,476
281,NaN,ESH,NaN,Western Sahara,1,14,8

In [55]:
# Read population table from wiki
population_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density")
# Return the first table in the list of tables
population_df = population_df[0]
# use join to rename double header of table
population_df.columns = ["_".join(col) for col in population_df.columns]
# remove rows that represent the double footer
population_df = population_df[population_df["Rank_Rank"] != "Rank"]
# rename columns
population_df.rename(columns={"Rank_Rank": "Rank", "Country (or dependent territory)_Country (or dependent territory)": "Country","Area_km2": "Area (km2)","Area_mi2": "Area (mi2)","Population_Population": "Population"}, inplace=True)
population_df.rename(columns={"Density_pop./km2": "Population Density (km2)","Density_pop./mi2": "Population Density (mi2)"}, inplace=True)
#population_df = population_df[{"Country", "Area (mi2)" , "Population", "Population Density (mi2)"}]
population_df

,Rank,Country,Area (km2),Area (mi2),Population,Population Density (km2),Population Density (mi2),Date_Date,Population source_Population source
0,â€“,Macau (China),32.9,13,696100,21158.05,54799,"September 30, 2019",Official quarterly estimate
1,1,Monaco,2.02,0.78,38300,18960.4,49107,"December 31, 2018",Official estimate
2,2,Singapore,722.5,279,5703600,7894.26,20446,"July 1, 2019",Official estimate
3,â€“,Hong Kong (China),1106,427,7500700,6781.83,17565,"December 31, 2019",Official estimate
4,â€“,Gibraltar (United Kingdom),6.8,2.6,33701,4956.03,12836,"July 1, 2019",UN projection
...,...,...,...,...,...,...,...,...,...
248,194,Mongolia,1564100,603902,3238479,2.07,5.4,"December 31, 2018",Official estimate
249,â€“,Pitcairn Islands (United Kingdom),47.3,18,56,1.19,3.1,"September 20, 2016",2013 census result
250,â€“,Falkland Islands (United Kingdom),12173,4700,2563,0.21,0.54,"April 15, 2012",2012 census result
251,â€“,Svalbard and Jan Mayen (Norway),61399,23706,2655,0.04,0.10,"September 1, 2012",Official estimate
252,â€“,Greenland (Denmark),2166000,836297,55877,0.03,0.08,"January 1, 2018",Official estimate